/*
 * Top panel and bar
 */
phog-top-panel {
  font: 15px Cantarell;
}

#top-bar {
  padding: 4px 9px 4px 9px;
}

.phog-wwan-indicator,
phog-top-panel .indicators {
  font-size: 13px;
  font-weight: 800;
  font-feature-settings: "tnum";
}

.phog-topbar-clock {
  font-weight: bold;
  font-feature-settings: "tnum";
}

phog-top-panel .phog-topbar-clock{
  font-size: 16px;
}
phog-top-panel .phog-topbar-date{
  font-size: 14px;
}

.phog-clock-box {
  padding: 16px;
}

.phog-topbar-button {
  padding: 0 12px;
  border-radius: 32px;
  border: 1px solid transparent;
  border: none;
  -gtk-icon-shadow: none;
}

.phog-topbar-button:focus {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
  outline: none;
  border-color: @theme_selected_bg_color;
}

/*
 * Home bar
 */
.phog-osk-button {
  border-radius: 50%;
  min-width: 0;
  min-height: 0;
  padding: 6px;
}

/*
 * Settings menu
 */
.phog-settings-menu {
  background-color: @phog_bg_color;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.phog-settings-menu button.circular:not(:hover):not(:active) {
  border: 2px solid @theme_bg_color;
}

phog-top-panel {
  background: @phog_bg_color;
  color: @phog_fg_color;
}

/*
 * Lock screen
 */
phog-lockscreen,
.phog-lockshield {
  background-color: @phog_bg_color;
  color: @phog_fg_color;
}

/*
 * Work around for weird rectangle GtkListBox,
 * copied from libhandy's Adwaita.css
 */
phog-lockscreen list {
  background-color: transparent;
}

phog-lockscreen row:not(:focus) {
  background-color: @phog_button_bg_color;
}

phog-lockscreen row:first-child {
  -gtk-outline-top-left-radius: 7px;
  -gtk-outline-top-right-radius: 7px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

phog-lockscreen row:not(:last-child) {
  border-width: 1px 1px 0px 1px;
}

phog-lockscreen row:last-child {
  -gtk-outline-bottom-left-radius: 7px;
  -gtk-outline-bottom-right-radius: 7px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Clock */
#phog-lockscreen-clock {
  font-weight: 300;
  font-feature-settings: "tnum";
  margin: 12px 0;
}

#phog-lockscreen-date {
  margin: 6px 0;
  font-weight: 400;
}

.p-large #phog-lockscreen-clock {
  font-size: 84px;
  transition: 200ms ease;
}
.p-large #phog-lockscreen-date {
  font-size: 18px;
  transition: 200ms ease;
}

.p-small #phog-lockscreen-clock {
  font-size: 72px;
  transition: 200ms ease;
}
.p-small #phog-lockscreen-date {
  font-size: 16px;
  margin-top: 0;
  transition: 200ms ease;
}

.phog-lockscreen-status-icons {
  padding: 6px;
}

.phog-lockscreen-pin,
.phog-lockscreen-pin:disabled,
.phog-lockscreen-pin:focus {
  font-size: 20px;
  padding: 6px;
  border-radius: 12px;
  color: inherit;
  border: none;
  box-shadow:none;
  outline: none;
  caret-color: transparent;
}

@keyframes pulsate {
  0% {-gtk-icon-transform: translateY(0); opacity: 0.7}
  35% {-gtk-icon-transform: translateY(-14px); opacity: 1}
  100% {-gtk-icon-transform: translateY(0); opacity: 0.7}
}

/* Lockscreen keypad */
phog-keypad label.digit {
  font-size: 200%;
  font-weight: bold;
}

phog-keypad button {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  border: 1px solid transparent;
  color: inherit;
  box-shadow: none;
  background: none;
}

phog-keypad button:disabled {
  opacity: 0.5;
}

phog-keypad button:hover,
phog-keypad button:focus:hover {
  background: alpha(@phog_fg_color,.2);
}

phog-keypad button:active,
phog-keypad button:focus:active {
  background: alpha(@phog_fg_color,.15);
}

phog-keypad button:focus {
  outline-style: none;
}

.text-only-button {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 36px;
  border: 1px solid transparent;
  box-shadow: none;
  color: inherit;
  background: alpha(@phog_fg_color,.3);
}

.text-only-button:hover,
.text-only-button:hover:focus {
  background: alpha(@phog_fg_color,.25);
}

.text-only-button:focus {
  background: alpha(@phog_fg_color,.3);
  box-shadow: inset 0 0 0 1px @theme_selected_bg_color;
  outline-style: none;
  border: 1px solid @theme_selected_bg_color;
}

.text-only-button:active,
.text-only-button:focus:active {
  background: alpha(@phog_fg_color,.2);
}

/*
 * Output fader
 */
@keyframes phog-fader-default-keyframe {
  from {background:rgba(0, 0, 0, 0);}
  to {background:rgba(0, 0, 0, 1);}
}

.phog-fader-default-fade {
  animation-name: phog-fader-default-keyframe;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Fader used for proximity dimming */
.phog-fader-proximity-fade {
  animation-name: phog-fader-default-keyframe;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Fader used for screenshot flash */
@keyframes phog-fader-flash-keyframe {
  from {background:rgba(255, 255, 255, 1);}
  to {background:rgba(255, 255, 255, 0);}
}

.phog-fader-flash-fade {
  animation-name: phog-fader-flash-keyframe;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.phog-fader-screenshot-opaque {
  background: rgba(255, 255, 255, 0);
}

/*
 * GTK Overrides
 */

/* Scrollbars */
scrollbar {
  background-color: transparent;
  border: none;
}

/* Sliders  */
scale trough {
  padding: 1px;
  border-radius: 2px;
  border: none;
  background: alpha(@phog_fg_color, 0.3);
}

scale trough > highlight {
  padding: 2px;
  border: none;
}

scale trough slider {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@phog_fg_color, 0.9);
  background: shade(@phog_fg_color, 0.9);
}

scale trough slider:hover {
  border-color: @phog_fg_color;
  background: @phog_fg_color;
}

scale trough slider:active {
  border-color: shade(@phog_fg_color, 0.9);
  background: shade(@phog_fg_color, 0.9);
}
